.navbarContainer {
  background-color: rgb(54, 54, 54);
  color: white;
}

.navbar-logo {
  background-image: '/public/netflix logo.png';
}

.navItem {
  color: white !important;
}

.navWapper {
  color: white;
}

.search_button {
  background-color: white !important;
}
